// =================================================
//
// Icon Font
// http://fontello.com/
//
// =================================================

@font-face {
	font-family: 'icons';
	src: url('../fonts/icons.eot?26494785');
	src: url('../fonts/icons.eot?26494785#iefix') format('embedded-opentype'),
	     url('../fonts/icons.woff?26494785') format('woff'),
	     url('../fonts/icons.ttf?26494785') format('truetype'),
	     url('../fonts/icons.svg?26494785#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	margin-left: .2em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
}

.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-thumbs-down:before { content: '\e801'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e802'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e803'; } /* '' */
.icon-upload:before { content: '\e804'; } /* '' */
.icon-upload-cloud:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-ok-circled:before { content: '\e807'; } /* '' */
.icon-ok-circled2:before { content: '\e808'; } /* '' */
.icon-ok-squared:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-cancel-circled:before { content: '\e80b'; } /* '' */
.icon-cancel-circled2:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-plus-circled:before { content: '\e80e'; } /* '' */
.icon-plus-squared:before { content: '\e80f'; } /* '' */
.icon-minus-squared:before { content: '\e810'; } /* '' */
.icon-minus-circled:before { content: '\e811'; } /* '' */
.icon-minus:before { content: '\e812'; } /* '' */
.icon-down-open:before { content: '\e813'; } /* '' */
.icon-left-open:before { content: '\e814'; } /* '' */
.icon-right-open:before { content: '\e815'; } /* '' */
.icon-up-open:before { content: '\e816'; } /* '' */
