// =================================================
//
// Fluid Images
//
// =================================================

figure.fluid {
	margin: 0;
	padding: 0;

	img {
		display: block;
		max-width: 100%;
		vertical-align: bottom;
	}
}