// =================================================
//
// Typography
//
// =================================================

// =================================================
// Weights
// =================================================

$normal: 400;
$bold: 600;


// =================================================
// Body
// =================================================

html, body {
	font-size: 12px;
	font-family: 'Open Sans', 'Helvetica', 'sans-serif';
	color: $grey;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	@include media($small) {
		font-size: 14px;
	}

	@include media($medium) {
		font-size: 16px;
	}

	@include media($large) {
		font-size: 18px;
	}
}


// =================================================
// Headlines
// =================================================

h1 {
	font-weight: $normal;
	font-size: 2rem;
	margin: 0 0 0.5rem 0;
}

h2 {
	font-weight: $normal;
	font-size: 1.2rem;
	margin: 0 0 1.5rem 0;
}

h3 {
	font-size: 1rem;
	line-height: 1.4rem;
	margin: 0 0 1rem 0;
}


// =================================================
// Paragraphs
// =================================================

p {
	font-weight: $normal;
	font-size: 1rem;
	line-height: 1.4rem;
	margin: 0 0 1rem 0;
}


// =================================================
// Lists
// =================================================

ol, ul {
	margin: 0 0 1rem 0;
	font-size: 1rem;
	line-height: 1.4rem;
}



// =================================================
// Links
// =================================================

a {
	font-size: 1rem;
}

