// =================================================
//
// Page - Uploader
//
// =================================================

$light-blue: #3da1ce;
$blue: #2492c5;
$dark-blue: #177aa8;

$red: #ee5456;
$green: #6ec972;
$light-grey: #ededed;
$dark-grey: #888;
$white: #fff;

.page-uploader {
	background-image: url(../images/craig-background.jpg);
	background-size: 800px auto;
	background-position: center bottom;
	background-repeat: no-repeat;

	@include media($small) {
		background-size: 1200px auto;
	}

	@include media($medium) {
		background-size: 100% auto;
	}
}


