// =================================================
//
// Uploader - Input
//
// =================================================


.uploader-input {
	width: 100%;
	padding: rem(16px) rem(110px) rem(16px) rem(36px);
	border: none;
	background-color: $light-blue;
	color: #fff;
	font-size: rem(40px);
	font-weight: $normal;
	@include transform(translateZ(0));

	&:focus {
		outline: none;
	}

	&::-webkit-input-placeholder {
		color: $dark-blue;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $dark-blue;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		color: $dark-blue;
	}
	&:-ms-input-placeholder {
		color: $dark-blue;
	}
}
