// =================================================
//
// Uploader - Input
//
// =================================================

.uploader-input {
	width: 100%;
	padding: 1rem 9rem 1rem 2rem;
	border: none;
	background: #f5f5f5;
	color: #666;

	&:focus {
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #ddd;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: #ddd;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		color: #ddd;
	}
	&:-ms-input-placeholder {
		color: #ddd;
	}
}
