// =================================================
//
// Uploader - Message
//
// =================================================

.uploader-message {
	position: relative;
	z-index: 1;
	color: #aaa;
	font-style: italic;
	opacity: 0;
}
