// =================================================
//
// Uploader - Element
//
// =================================================

.uploader-element {
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 90%;
	max-width: 1000px;
	margin: rem(100px) auto 0;

	@include media($medium) {
		width: 80%;
	}
}
