// =================================================
//
// Uploader - Input
//
// 1. to removed automatic rounded corners on iOS
// 2. Firefox 18-
// 3. Firefox 19+
//
// =================================================


.uploader-input {
	width: 100%;
	padding: 1rem 7.1rem 1.2rem 2.1rem;
	border: none;
	border-radius: 0; // 1
	background-color: $up-light-blue;
	color: #fff;
	font-weight: $normal;
	font-size: 2.1rem;
	transform: translateZ(0);

	@include media(small) {
		font-size: rem(40px);
	}

	// focus
	&:focus {
		outline: none;
	}

	// style placeholder text
	&::-webkit-input-placeholder {
		color: $up-dark-blue;
	}
	&:-moz-placeholder { // 2
		color: $up-dark-blue;
	}
	&::-moz-placeholder { // 3
		color: $up-dark-blue;
	}
	&:-ms-input-placeholder {
		color: $up-dark-blue;
	}
}
