// =================================================
//
// Uploader - Input
//
// =================================================


.uploader-input {
	width: 100%;
	padding: rem(20px) rem(110px) rem(20px) rem(36px);
	border: none;
	background-color: $blue;
	color: #fff;
	font-size: rem(40px);
	font-weight: $normal;

	&:focus {
		outline: none;
		// background-color: $blue;
	}

	&::-webkit-input-placeholder {
		color: $dark-blue;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $dark-blue;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		color: $dark-blue;
	}
	&:-ms-input-placeholder {
		color: $dark-blue;
	}
}
