// =================================================
//
// Breakpoints
//
//
// =================================================

$small: new-breakpoint(min-width 480px 4);
$medium: new-breakpoint(min-width 760px 6);
$large: new-breakpoint(min-width 1200px 12);
