// =================================================
//
// Settings
//
// =================================================

// =================================================
// Colors
// =================================================

$blue:       #048ac9;
$teal:       #0aa88f;
$tan:        #f0f2ed;
$dark-grey:  #222222;
$grey:       #272a2f;
$light-grey: #3d4044;
$white:      #ffffff;


// =================================================
// Bourbon Grid Settings
// =================================================

$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1088);


// =================================================
// Zzzzz
// =================================================

$positioned: 1;
$z-sidebar: 100;


// =================================================
// Easing Curves
// =================================================

$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000)
