// =================================================
//
// Uploader
//
// =================================================

.page-uploader {

	.uploader-element {
		position: relative;
		z-index: 1;
		width: 80%;
		max-width: 1000px;
		margin: 100px auto 0;
	}

	.uploader-form {
		position: relative;
		z-index: 1;
		font-size: 4rem;
		margin-bottom: 1rem;
	}

	.uploader-input {
		width: 100%;
		padding: 1rem 2rem;
		border: none;
		border-bottom: 0.3rem solid #ccc;
		background: #f5f5f5;
		color: #666;

		&:focus {
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: #ddd;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: #ddd;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
			color: #ddd;
		}
		&:-ms-input-placeholder {
			color: #ddd;
		}
	}

	.uploader-submit {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1rem;
		border: none;
		background: none;
		color: #aaa;
	}

	.message {
		color: #aaa;
		font-style: italic;
	}
}
