// =================================================
//
// Help
//
// =================================================

// ====================================
// Staggered Fade
// ====================================

$delay-increment: 0.2; // in seconds

@for $i from 1 to 10 {
	.delay-#{$i} {
		opacity: 0;
		transform: translate3d(0,20px,0);

		.modal-open & {
			opacity: 1;
			transform: translate3d(0,0,0);
			transition-property: opacity, transform;
			transition-duration: 0.5s, 0.5s;
			transition-timing-function: ease-in-out, cubic-bezier(0.075, 0.820, 0.165, 1.000);
			transition-delay: #{$i * $delay-increment}s, #{$i * $delay-increment}s;
		}
	}
}

// ====================================
// Help Button
// ====================================

.help-button {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	background: none;
	border: none;
	box-shadow: none;
	padding: 10px 15px;

	.icon {
		color: $black;
		font-size: 1.4em;
		transition: color 0.2s ease-in-out;
	}

	.icon-text {
		display: inline-block;
		opacity: 0;
		color: $dark-grey;
		transform: translateY(-4px);
		transition: opacity 0.2s ease-in-out;
	}

	.no-touch &:hover {
		.icon {
			color: $blue-alt;
		}
		.icon-text {
			opacity: 1;
		}
	}
}


// ====================================
// Testimonials
// ====================================

.endorsements {
	padding: 20px 0 0 0;

	.endorsement {
		list-style-type: none;
		padding-left: 6rem;
		margin-bottom: 30px;
		@include clearfix;

		h2 {
			margin: 20px 0 5px 0;
		}
	}

	.avatar {
		margin: 0 20px 0 0;
		width: 5rem;
		position: absolute;
		top: 0;
		left: 0;

		img {
			display:block;
			max-width: 100%;
		}
	}
}
