// =================================================
//
// Help
//
// =================================================

// ====================================
// Help Button
// ====================================

.help-button {
	position: absolute;
	top: 0;
	right: 0;
}


// ====================================
// Help Modal
// ====================================

.help-modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background: $blue;
}
