// =================================================
//
// Help
//
// =================================================

// ====================================
// Help Button
// ====================================

.help-button {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	background: none;
	border: none;
	box-shadow: none;
	padding: 10px 15px;

	.icon {
		color: $black;
		font-size: 1.4em;
		transition: color 0.2s ease-in-out;
	}

	.icon-text {
		display: inline-block;
		opacity: 0;
		color: $dark-grey;
		transform: translateY(-4px);
		transition: opacity 0.2s ease-in-out;
	}

	.no-touch &:hover {
		.icon {
			color: $blue-alt;
		}
		.icon-text {
			opacity: 1;
		}
	}
}


// ====================================
// Testimonials
// ====================================

.endorsements {
	padding: 20px 0 0 0;

	.endorsement {
		opacity: 0;
		list-style-type: none;
		margin-bottom: 30px;
		@include clearfix;

		h2 {
			margin: 20px 0 5px 0;
		}

		.modal-open & {
			opacity: 1;
			transition: 0.3s 0.4s ease-in-out;
		}
	}

	.avatar {
		margin: 0 20px 0 0;
		width: 5rem;
		float: left;
		img {
			display:block;
			max-width: 100%;
		}
	}

}
