// =================================================
//
// Select Element
//
// =================================================

.select-element {
	float:right;
	position: relative;
	z-index: 1;
	width: 200px;
	background: pink;

	&:hover {
		.icon-down-open {
			background: $darkish-grey;
		}
	}


	// down arrow icon
	.icon-down-open {
		height: $ipsum-element-height;
		line-height: $ipsum-element-height;
		padding: 0 10px;
		cursor: pointer;
		position: absolute;
		z-index: 1;
		right: 0;
		color: $white;
		font-size: 20px;
	}


	// current value
	.select-value {
		display: block;
		background: pink;
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}


	// list of options
	.select-list {
		opacity: 0;
		position: absolute;
		z-index: 1;
		overflow: hidden;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		margin: 0;
		padding: 0;
		background: $white;
		border: 1px solid $grey;

		li.select-option {
			padding: rem(8px);
			list-style-type: none;
			cursor: pointer;

			&:hover {
				background: #eee;
			}
		}
	}

	&.focused {
		.select-list {
			opacity: 1;
			height: auto;
		}
	}
}
