// =================================================
//
// Ipsum Input Element
//
// =================================================

// ipsum input vars
$ipsum-element-height: 70px;


// ipsum input wrapper
.ipsum-input{
	position: relative;
	z-index: 1;
	font-size: 24px;
	background: $white;
	@include clearfix();
	border-bottom: 4px solid $green;

	& > * {
		display: block;
		float: left;
	}

	span {
		padding: 0 20px;
		line-height: $ipsum-element-height;
	}

	// Number input
	.ipsum-input-element {
		height: $ipsum-element-height;
		width: 100px;
		padding: 0 10px;
		border: none;
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
		float: right;

		&:hover {
			background: $light-grey;
		}

		&:focus {
			outline: none;
			background: $light-grey;
		}
	}

	// Submit button
	.ipsum-generate {
		width: $ipsum-element-height;
		height: $ipsum-element-height;
		background-color: $green;
		padding: 0;
		margin: 0;
		box-shadow: none;
		border: none;
		float: right;

		.icon-shaka {
			display: block;
			width: $ipsum-element-height;
			height: $ipsum-element-height;
			background-image: url('../images/shaka.svg');
			background-size: 90px 90px;
			background-repeat: no-repeat;
			background-position: 50% 20%;
			transform-origin: 40% 60%;

			&:hover {
				animation: shaka 0.2s infinite;
			}
		}

		&:focus {
			outline: none;
		}
	}
}


// =================================================
//
// Shaka Icon Animation
//
// =================================================

@keyframes shaka {
	0% { transform   : rotate(0deg); }
	50% { transform  : rotate(-15deg); }
	100% { transform : rotate(0deg); }
}
