// =================================================
//
// Ipsum Input Element
//
// =================================================

$ipsum-element-height: 80px;


.ipsum-input{
	position: relative;
	z-index: 1;
	font-weight: 30px;
	background: $white;
	@include clearfix();
	border-bottom: 4px solid $green;

	& > * {
		display: block;
		float: left;
	}

	span {
		padding: 0 20px;
		line-height: $ipsum-element-height;
	}

	// Number input
	.ipsum-input-element {
		background: green;
		height: $ipsum-element-height;
		width: 80px;
		padding: 0 10px;
		border: none;
		float:right;
	}

	// Submit button
	.ipsum-generate {
		width: $ipsum-element-height;
		height: $ipsum-element-height;
		padding: 0;
		margin: 0;
		box-shadow: none;
		border: none;
		float:right;

		.icon-shaka {
			display: block;
			width: $ipsum-element-height;
			height: $ipsum-element-height;
			background-color: $green;
			background-image: url('../images/shaka.svg');
			background-size: 80px 80px;
			background-repeat: no-repeat;
			background-position: 50% 35%;
		}
	}
}


@import 'input-select';
