// =================================================
//
// Ipsum List Item
//
// =================================================

.ipsum-item {
	position: relative;
	z-index: 1;
	background: #f5f5f5;
	font-size: rem(20px);

	& > * {
		display: inline-block;
		margin-right: rem(30px);
	}
}

