// =================================================
//
// Input Section
//
// =================================================

.input {
	position: relative;
	z-index: 10;
	max-width: 460px;
	height: 100vh;
	min-height: 450px;
	margin: 0 auto;
	padding: 0 20px;

	@include media(small) {
		max-width: 600px;
	}
}


// =================================
// Input Header
// =================================

.input-header {
	padding: 30px 0;
	@media screen and ( min-height: 520px ){ padding-top: 15vh; }
	@media screen and ( min-height: 700px ){ padding-top: 25vh; }

	h1 {
		position: relative;
		z-index: 1;
		margin-top: 0;
		margin-bottom: 0.4em;
		text-transform: uppercase;
		font-size: 42px;
		@include media(medium) { font-size: 50px; }
		@include media(large) { font-size: 56px; }
	}

	p {
		margin-bottom: 0;
		font-size: 16px;
		@include media(medium) { font-size: 18px; }
		@include media(large) { font-size: 20px; }

		&.header-quote {
			font-style: italic;
		}

		&.header-author {
			font-weight: $bold;
		}
	}
}
