// =================================================
//
// Ipsum Input Section
//
// =================================================

.ipsum-input {
	position: relative;
	z-index: 10;
	width: 600px;
	height: 100vh;
	padding: 20vh 0;
	margin: 0 auto;
	// transform: translateY(0);
	// transition: opacity 0.4s ease-in-out 0.4s, transform 1s cubic-bezier(0.680, -0.550, 0.265, 1.550);

	.show-results & {
		opacity: 0;
		// transform: translateY(-250%);
	}
}



// =================================================
// Input Header
// =================================================

.input-header {
	padding-bottom: 30px;

	h1 {
		position: relative;
		z-index: 1;
		font-size: 64px;
		line-height: 64px;
		margin-bottom: 24px;
	}

	p {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 2px;

		&.header-quote {
			font-style: italic;
		}

		&.header-author {
			// font-weight: $semibold;
		}
	}
}
