// =================================================
//
// Ipsum Add Item
//
// =================================================


.ipsum-item-button {
	background: none;
	border: none;
	box-shadow: none;
	background: #c4c4c4;
	color: $white;
	font-size: rem(20px);
	line-height: rem(20px);
	padding: rem(20px);

	i {
		margin: 0;
	}

	&.remove-item:hover {
		background: $orange;
	}
	&.add-item {
		background: $green;
	}
}
