// ====================================
//
// Ipsum Item
//
// ====================================

$move-buttons: 1200px;
$ease-in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);

// wraps the .ipsum-item and it 100% of the page width
.ipsum-row {
	position: relative;
	z-index: 1;
	user-select: none;

	@include media(medium) {
		padding: 0 70px;
	}
}


.ipsum-item {
	position: relative;
	z-index: 2;
	max-width: 980px;
	margin: 0 auto;
	padding: 20px 20px 20px 50px;

	@include media(medium) {
		padding: 20px;
	}

	@include media(xlarge) {
		max-width: 1400px;
	}

	&.ipsum-item-list {
		padding-left: 40px;
	}

	.no-touch .ipsum-row:hover & {
		background: $off-white;
	}

	p, ul, h1 {
		margin: 0;
		user-select: text;
	}

	ul {
		padding-left: 20px;
	}
}



// ====================================
// Refresh Button
// ====================================

.refresh-button {
	position: absolute;
	z-index: 100;
	top: 23px;
	left: 12px;
	z-index: 2;
	padding: 4px;
	background-color: $blue;
	color: $white;
	cursor: pointer;
	font-size: 14px;

	@include media(medium) {
		left: -54px;
		padding: 6px;
		font-size: 15px;
	}

	@include media(large) {
		font-size: 16px;
	}

	// refresh button default state for desktop
	.no-touch & {
		transform: translate3d(0, 0, 0);
		transition: color 0.2s 0s ease-in-out;

		@include media(medium) {
			opacity: 0;
			transform: translate3d(-20px, 0, 0);
			transition: opacity 0.3s 0s ease-in-out, transform 0.3s 0s $ease-in-out-back;
		}
	}
	// refresh button hover state
	.no-touch &:hover {
		background-color: $blue-alt;
		.arrow {
			background-color: $blue-alt;
		}
	}
	// make sure the refesh button stays visible whenever the row is being hovered
	.no-touch .ipsum-row:hover & {
		@include media(medium) {
			opacity: 1;
			transform: translate3d(0, 0, 0);
			transition: opacity 0.3s 0.3s ease-in-out;
		}
	}

	.arrow {
		display: none;
		position: absolute;
		top: 50%;
		right: 0px;
		height: 10px;
		width: 10px;
		background: $blue;
		transform: rotate(45deg) translate3d(0, -50%, 0);

		@include media(medium)  {
			display: block;
		}
	}
}
