// =================================================
//
// Ipsum Item Input
//
// =================================================


.ipsum-item-input {

	width: rem(60px);
	padding: rem(8px);
	border: none;

	&:focus {
		outline: none;
	}
}

