// =================================================
//
// Ipsum Input Section
//
// =================================================

.ipsum-input {
	position: relative;
	z-index: 10;
	width: 600px;
	padding-top: 3vh;
	margin: 0 auto;
	transform: translateY(0);
	transition: opacity 0.4s ease-in-out 0.4s, transform 1s cubic-bezier(0.680, -0.550, 0.265, 1.550);

	.show-results & {
		opacity: 0;
		transform: translateY(-250%);
	}
}



// =================================================
// Input Header
// =================================================

.input-header {
	padding-bottom: 40px;

	h1 {
		position: relative;
		z-index: 1;
		color: $white;
		font-size: 54px;
		margin-bottom: 15px;
	}

	.quote {
		@include clearfix;

		.quote-profile {
			display: block;
			float: left;
			height: 60px;
			width: 60px;
			margin-right: 20px;
			background-color: $blue;
			background-image: url(../images/profiles/kelly-slater.png);
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			border-radius: 50%;
		}

		.quote-text {
			float: left;
			padding-top: 17px;
			font-style: italic;
			font-size: 22px;
			color: $white;
		}

	}
}
