// =================================================
//
// Ipsum Item Input
//
// =================================================


.ipsum-item-input {

	width: rem(100px);

	// focus
	&:focus {
		outline: none;
	}

	// style placeholder text
	&::-webkit-input-placeholder {
		color: #e8e8e8;
	}
	&:-moz-placeholder { // 2
		color: #e8e8e8;
	}
	&::-moz-placeholder { // 3
		color: #e8e8e8;
	}
	&:-ms-input-placeholder {
		color: #e8e8e8;
	}
}

