// =================================================
//
// Ocean Background
//
// =================================================

.ocean-wrapper {
	position: relative;
	z-index: 1;
	margin-top: -200px;
	width: 100%;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	transition: transform 1s cubic-bezier(0.680, -0.550, 0.265, 1.550);

	.show-results & {
		transform: translate3d(0, -100%, 0);
	}

	.wave-mask {
		position: absolute;
		z-index: 2;
		width: 100%;
		top: -2px;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(../images/wave.svg);
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-size: auto 200px;
	}

	.ocean {
		position: relative;
		z-index: 1;
	}

	svg {
		display: block;
	}
}
