// =================================================
//
// Ocean Background
//
// =================================================

.ocean-wrapper {
	position: relative;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	margin-top: -140px;
	@include media(small) { margin-top: -150px; }
	@include media(medium) { margin-top: -170px; }
	@include media(large) { margin-top: -200px; }

	.touch & {
		margin-top: -200px;
	}

	.wave-mask {
		position: absolute;
		z-index: 2;
		width: 100%;
		top: -4px;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(../images/wave.svg);
		background-repeat: no-repeat;
		background-position: -610px 0;
		background-size: auto 140px;

		@include media(small) {
			background-position: -690px 0;
			background-size: auto 160px;
		}

		@include media(large) {
			background-size: auto 200px;
			background-position: 50% 0;
		}

		@include media(large) {

		}
	}

	.ocean {
		position: relative;
		z-index: 1;
	}

	svg {
		display: block;
	}
}
