// =================================================
//
// Ocean Background
//
// =================================================

.ocean-wrapper {
	position: relative;
	z-index: 1;
	width: 100%;
	background: blue;
	overflow: hidden;
	margin-top: -140px;
	@include media(small) { margin-top: -150px; }
	@include media(medium) { margin-top: -170px; }
	@include media(large) { margin-top: -200px; }

	.touch & {
		margin-top: -200px;
	}

	.wave-mask {
		position: absolute;
		z-index: 2;
		width: 100%;
		top: -4px;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(../images/wave.svg);
		background-repeat: no-repeat;
		background-position: -610px 0;
		background-size: auto 140px;

		@include media(small) {
			background-position: -690px 0;
			background-size: auto 160px;
		}

		@include media(large) {
			background-size: auto 200px;
			background-position: 50% 0;
		}

	}

	.ocean {
		position: relative;
		z-index: 1;
	}

	svg {
		display: block;
	}
}



// =================================
// Ocean header
// =================================

$header-transform-ease: cubic-bezier(0.645, 0.045, 0.355, 1.000);

.ocean-header {
	position: absolute;
	z-index:4;
	bottom: 0;
	left: 0;
	width: 100%;
	transform: translate3d(0, 100%, 0);
	transition: transform 0.6s $header-transform-ease;

	@include media(small) {
		padding: 0 20px;
	}

	@include media(medium) {
		padding: 0 70px;
	}

	.show-results & {
		transform: translate3d(0, 0, 0);
	}

	.ocean-header-inner {
		position: relative;
		z-index: 1;
		background: rgba(255,255,255, 0.7);
		max-width: 980px;
		padding: 15px 15px 15px 98px;
		margin: 0 auto;

		@include media(small) {
			padding: 15px 20px 15px 190px;
		}

		@include media(medium) {
			padding: 20px 20px 20px 240px;
		}

		@include media(xlarge) {
			max-width: 1400px;
		}
	}

	.ocean-header-title {
		margin-top: 0;
		margin-bottom: 0.2em;
	}

	.ocean-header-copy {
		margin-bottom: 0;
		font-size: 1rem;
	}

	.ocean-header-profile {
		display: block;
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100px;
		margin: 0;
		transform: translate3d(0, 40%, 0);
		transition: transform 0.6s $header-transform-ease;

		@include media(small) {
			width: 200px;
		}

		@include media(medium) {
			width: 250px;
		}

		.show-results & {
			transform: translate3d(0, 0, 0);
		}

		img {
			display: block;
			width: 100%;
		}
	}
}
