// =================================================
//
// Output Section
//
// =================================================

.output {
	position: relative;
	z-index: 10;
	width: 100%;
	min-height: 100vh;
	padding: 0 20px;
	margin-top: -40px;
	background: $white;
	tranform: translateZ(0);

	@include media(medium) {
		margin-top: 0px;
	}
}

.output-content {
	max-width: 980px;
	margin: 0 auto;
}


// =================================
// Output header
// =================================

.output-header {
	padding: 0 20px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	transform: translate3d(0, -100%, 0);

	.output-header-inner {
		background: $off-white;
		padding: 10px 20px;
		max-width: 980px;
		margin: 0 auto;


		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}


// =================================
// Ipsum output results container
// =================================

.output-results {
	max-width: 980px;
	margin: 0 auto;
	padding: 40px 20px;
	opacity: 0;
	transition: opacity 0.4s 1s ease-in-out;

	.show-results & {
		opacity: 1;
	}

}


// =================================
// Output Controls
// =================================

$button-height: 50px;


.output-controls {
	position: sticky;
	top: 0;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	padding: 20px 0;
	@include clearfix;

	&.fixedsticky-on {
		background: $white;
		border-bottom: 1px solid $light-grey;
	}

	// output button
	.output-button {
		display: inline-block;
		border: none;
		box-shadow: none;
		background-color: $off-white;
		line-height: 34px;
		padding: 0;

		i {
			display: inline-block;
			padding: 0 5px;
			color: $white;
		}

		span {
			display: none;
			@include media(medium) { display: inline; }
		}

		&:focus {
			outline: none;
		}
	}

	// Refresh the lineup button
	.output-button-refresh {
		margin-left: 20px;
		padding-right: 20px;
		float: left;
		text-align: left;
		i {
			margin-right: 15px;
			background: $green;
		}
	}

	// Clear the lineup button
	.output-button-clear {
		margin-right: 20px;
		padding-left: 20px;
		float: right;
		text-align: right;
		i {
			margin-left: 15px;
			background: $red;
		}
	}
}
