// =================================================
//
// Output Section
//
// =================================================

.output {
	position: relative;
	z-index: 10;
	width: 100%;
	min-height: 100vh;
	background-color: $white;
	tranform: translateZ(0);
}


// =================================
// Ipsum output results container
// =================================

.output-results {
	position: relative;
	z-index: 1;
	padding: 20px 0;
	background-color: $white;
	transform: translateZ(0);
	opacity: 0;
	transition: opacity 0.8s ease-out;

	.show-results & {
		opacity: 1;
	}
}


// =================================
// Output Controls
// =================================

.output-controls {
	position: relative;
	position: sticky;
	z-index: 100;
	opacity: 0;
	top: 0;
	width: 100%;
	margin: 0 auto;
	padding: 0 4px;
	background: #4e4e4e;
	transition: opacity 0.8s ease-out;

	@include media(medium) {
		padding: 0 70px;
	}

	.show-results & {
		opacity: 1;
	}

	.output-controls-inner {
		position: relative;
		z-index: 10;
		max-width: 980px;
		margin: 0 auto;
		padding: 8px 6px;
		@include clearfix;

		@include media(small) {
			padding: 8px 15px;
		}

		@include media(large) {
			padding-top: 11px;
			padding-bottom: 11px
		}

		@include media(xlarge) {
			max-width: 1400px;
		}
	}

	// output button
	.output-button {
		display: inline-block;
		padding: 6px 0;
		margin-right: 5px;
		background-color: transparent;
		text-align: left;
		color: $off-white;
		font-size: 13px;

		@include media(small) {
			font-size: 14px;
			margin-right: 20px;
		}

		@include media(large) {
			padding: 10px 0;
			font-size: 16px;
		}

		.no-touch &:hover {
			color: $white;
		}

		.icon {
			.no-touch & {
				margin-right: 4px;
			}
		}

		span {
			&.hide-for-small {
				display: none;
				@include media(small) {
					display: inline;
				}
			}
		}
	}

	// Refresh the lineup button
	.output-button-add {
		.icon {
			color: $green;
		}
		.no-touch &:hover {
			.icon {
				color: $white;
				background-color: $green-alt;
			}
		}
	}

	// Clear the lineup button
	.output-button-clear {
		float: right;

		.icon {
			color: $red;
		}
		.no-touch &:hover {
			.icon {
				color: $white;
				background-color: $red-alt;
			}
		}

	}
}
