// =================================================
//
// Output Section
//
// =================================================

.output {
	position: relative;
	z-index: 10;
	width: 100%;
	min-height: 100vh;
	background-color: $white;
	tranform: translateZ(0);
}


// =================================
// Ipsum output results container
// =================================

.output-results {
	position: relative;
	z-index: 1;
	padding: 40px 0;
	background-color: $white;
	transform: translateZ(0);
	opacity: 0;
	transition: opacity 0.8s ease-out;

	.show-results & {
		opacity: 1;
	}

	.ipsum-item {
		max-width: 980px;
		margin: 0 auto;
		padding: 15px 20px;

		&.ipsum-item-list {
			padding-left: 40px;
		}

		&:hover {
			background: $off-white;
		}
	}

}


// =================================
// Output Controls
// =================================

$button-height: 50px;


.output-controls {
	position: relative;
	position: sticky;
	z-index: 100;
	top: 0;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid $light-grey;

	.output-controls-inner {
		position: relative;
		z-index: 10;
		background: $white;
		max-width: 980px;
		margin: 0 auto;
		padding: 20px 0;
		@include clearfix;
	}

	// output button
	.output-button {
		display: inline-block;
		border: none;
		box-shadow: none;
		background-color: $off-white;
		line-height: 34px;
		padding: 0;

		i {
			display: inline-block;
			padding: 0 5px;
			color: $white;
		}

		span {
			display: none;
			@include media(medium) { display: inline; }
		}

		&:focus {
			outline: none;
		}
	}

	// Refresh the lineup button
	.output-button-add {
		margin-left: 20px;
		padding-right: 20px;
		float: left;
		text-align: left;
		i {
			margin-right: 15px;
			background: $green;
		}
	}

	// Clear the lineup button
	.output-button-clear {
		margin-right: 20px;
		padding-left: 20px;
		float: right;
		text-align: right;
		i {
			margin-left: 15px;
			background: $red;
		}
	}
}
