// =================================================
//
// Page - Generator
//
// =================================================

body.page-generator {
	overflow: hidden;
	min-height: 100%;
	background: $off-white;

	&.show-results {
		overflow: visible;
	}
}
