// =================================================
//
// Page - Generator
//
// =================================================

html.touch {
	overflow: hidden;
}

body.page-generator {
	overflow: hidden;
	height: 100%;
	background: $white;

	&.will-show-results {
		overflow: visible;
	}
}
