// =================================================
//
// Page - Uploader
//
// =================================================


// =================================================
// Colors
// =================================================

$light-blue:   #47b3d0;
$blue:         #0f6290;
$dark-blue:    #105575;

$green:        #48d573;
$green-alt:    #48d573;

$light-grey:   #f5f5f5;
$grey:         #c4c4c4;
$darkish-grey: #9c9c9c;



// =================================================
// Layout
// =================================================

body {
	background-color: $light-blue;
}

#main {
	position: relative;
	z-index: 1;
}


// =================================================
// Background Video
// =================================================

.background-wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;

	.background {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 100%;
		z-index: 1;
		opacity: 1;
		transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;

		.show-results & {
			opacity: 0;
			transform: translateX(-50%) translateY(-30%);
		}
	}
}



// =================================================
// Header Section
// =================================================

.header {
	position: relative;
	z-index: 10;
	width: 600px;
	padding-top: 3vh;
	margin: 0 auto;

	h1 {
		position: relative;
		z-index: 1;
		color: $white;
		font-size: 54px;
		margin-bottom: 32px;

		&::after {
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			bottom: -15px;
			height: 2px;
			width: 150px;
			background: $dark-blue;
		}
	}

	p {
		font-size: 22px;
		color: $white;
		margin-bottom: 40px;
	}
}


// =================================================
// Output
// =================================================

.ipsum-output {
	position: relative;
	z-index: 1;
}




