// =================================================
//
// Page - Generator
//
// =================================================

body.page-generator {
	background-color: $light-blue;
	overflow: hidden;

	&.show-results {
		overflow: visible;
	}
}
