// =================================================
//
// Select Element
//
// =================================================


.select-element {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: rem(300px);
}
