// =================================================
//
// Select Value
//
// =================================================


.select-value {
	position: relative;
	z-index: 100;
	display: block;
	background: $light-blue;
	color: $white;
}
