// =================================================
//
// Select Value
//
// =================================================


.select-value {
	display: block;
	background: $light-blue;
	color: $white;
	padding: 5px;
	cursor: pointer;
}
