// =================================================
//
// Uploader - Message
//
// =================================================

.uploader-message {
	position: relative;
	z-index: 1;
	height: 6px;
	padding-left: 1.57rem;
	overflow: hidden;
	background: $up-dark-blue;
	color: $dark-grey;
	font-size: 1.4rem;
	transform: translateZ(0);
	transition: height 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550), background 0.2s 0.2s ease-in-out;

	&.show-message{
		height: 4.57rem;
		background: $light-grey;
		transition: height 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550), background 0.2s 0s ease-in-out;
	}

	.message-text {
		@include clearfix;
		padding-top: 1.16rem;
	}

	span, i {
		display: block;
		float: left;
	}

	span {
		margin-top: 2px;
		padding: 5px 10px;

		&.green {
			color: $white;
			background: $green;
			margin-left: 10px;
		}
	}

	.icon-cancel {
		color: $red;
		font-size: 2rem;
	}
	.icon-ok {
		color: $green;
		font-size: 2rem;
	}

}
