// =================================================
//
// Body
//
// 1. Remove the background applied by normalize because:
//
// In the absence of a background on the html element,
// the body background will cover the page. If there
// is a background on the html element, the body background
// behaves just like any other element.
//
// =================================================

html {
	background: none; // 1
	height: 100%;
}

html *, body * {
	@include box-sizing(border-box);
}
