// =================================================
//
// Colors
//
// =================================================

$white:      #ffffff;
$off-white:  #f2f7f9;

$light-grey: #ededed;
$dark-grey:  #888;
$black:      #444;

$light-blue: #2b9dc1;

$grey: #ccc;
$blue: blue;
$up-blue: brown;
$up-light-blue: teal;
$up-dark-blue: purple;
$green: green;
$green-alt: yellow;
$red: red;

