// =================================================
//
// Colors
//
// =================================================

$white:      #ffffff;
$off-white:  #f2f7f9;

$light-grey-brighter: #f2f2f2;
$light-grey: #eaeaea;
$light-grey-darker: #dddddd;

$grey: #ccc;
$dark-grey:  #888;
$black:      #555;

$green: #77c15b;
$green-alt: #82cb66;


$blue: #1d91c0;
$blue-alt: #2598c7;

$red: #ef3b2c;
$red-alt: #fa493a;


// used in the uploader
// TODO: theme the uploader with the
// colors from above
$light-blue: #2b9dc1;
$up-blue: brown;
$up-light-blue: teal;
$up-dark-blue: purple;

