// =================================================
//
// Colors
//
// =================================================

$white:      #ffffff;
$off-white:  #f2f7f9;

$light-grey: #e8e8e8;

$dark-grey:  #888;
$black:      #666;

$light-blue: #2b9dc1;

$grey: #ccc;
$blue: blue;
$up-blue: brown;
$up-light-blue: teal;
$up-dark-blue: purple;
$green: #77c15b;
$green-alt: #82cb66;
$red: red;

