// =================================================
//
// Settings
//
// =================================================

// =================================================
// Colors
// =================================================

$white:      #fff;
$light-grey: #ededed;
$dark-grey:  #888;
$black:      #444;

$light-blue: #2b9dc1;


// =================================================
// Breakpoints
// =================================================

$small  : new-breakpoint(min-width 480px 4);
$medium : new-breakpoint(min-width 760px 6);
$large  : new-breakpoint(min-width 1200px 12);


// =================================================
// Bourbon Grid Settings
// =================================================

$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1088);
