// =================================================
//
// Typography
//
// =================================================

// =================================================
// Weights
// =================================================

$light    : 300;
$normal   : 400;
$bold     : 700;



// =================================================
// Body
// =================================================

body {
	font-size: 14px;
	@include media(small) { font-size: 16px; }
	@include media(medium) { font-size: 18px; }
	@include media(xlarge) { font-size: 20px; }
	line-height: 1.6;
	font-family: 'Open Sans', 'Helvetica', 'sans-serif';
	color: $black;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


// =================================================
// Headlines
// =================================================

h1 {
	font-family: 'Open Sans', 'Helvetica', 'sans-serif';
	font-weight: $light;
	font-size: 32px;
	line-height: 1.5;

	@include media(large) { font-size: 34px; }
	@include media(xlarge) { font-size: 36px; }
}


h2 {
	font-family: 'Open Sans', 'Helvetica', 'sans-serif';
	font-weight: $light;
	font-size: 22px;
	line-height: 1.5;

	@include media(medium) { font-size: 26px; }
	@include media(large) { font-size: 30px; }
	@include media(xlarge) { font-size: 34px; }
}


// =================================================
// Paragraphs
// =================================================

p {
	font-size: 14px;
	margin: 0 0 20px 0;
	font-weight: $normal;
	@include media(small) { font-size: 16px; }
	@include media(medium) { font-size: 18px; }
	@include media(xlarge) { font-size: 20px; }
}


// =================================================
// Lists
// =================================================

ol, ul {
	font-size: 18px;
	line-height: 26px;
	margin: 0 0 20px 0;
}
