// =================================================
//
// Typography
//
// =================================================

// =================================================
// Weights
// =================================================

$light    : 300;
$normal   : 400;
$bold     : 600;



// =================================================
// Body
// =================================================

body {
	font-size: 16px;
	line-height: 1.6;
	font-family: 'Open Sans', 'Helvetica', 'sans-serif';
	color: $black;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


// =================================================
// Headlines
// =================================================

h1 {
	font-family: 'Open Sans', 'Helvetica', 'sans-serif';
	font-weight: $light;
	font-size: 50px;
	line-height: 50px;
	text-transform: uppercase;
	margin-bottom: 12px;
}

h2 {
	font-family: 'Open Sans', 'Helvetica', 'sans-serif';
	font-weight: $normal;
	font-size: 36px;
	line-height: 36px;
	margin: 0 0 20px 0;
}


// =================================================
// Paragraphs
// =================================================

p {
	font-size: 16px;
	margin: 0 0 20px 0;
	font-weight: $normal;
}


// =================================================
// Lists
// =================================================

ol, ul {
	font-size: 18px;
	line-height: 26px;
	margin: 0 0 20px 0;
}
