// =================================================
//
// Typography
//
// =================================================

// =================================================
// Weights
// =================================================

$normal   : 400;
$semibold : 600;
$bold     : 700;


// =================================================
// Body
// =================================================

body {
	font-size: 18px;
	line-height: 120%;
	font-family: 'Proxima Nova', 'Helvetica', 'sans-serif';
	color: $black;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


// =================================================
// Headlines
// =================================================

h1 {
	font-family: 'Proxima Nova Condensed', 'Helvetica', 'sans-serif';
	font-weight: $bold;
	font-size: 50px;
	line-height: 50px;
	text-transform: uppercase;
	margin-bottom: 12px;
	letter-spacing: 2px;
}

h2 {
	font-weight: $normal;
	font-size: 1.2rem;
	margin: 0 0 1.5rem 0;
}


// =================================================
// Paragraphs
// =================================================

p {
	font-weight: $normal;
	margin: 0 0 1rem 0;
}


// =================================================
// Lists
// =================================================

ol, ul {
	margin: 0 0 1rem 0;
}
